---
export const prerender = true;
---
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="refresh" content="0; url=/forgot-password" />
  <title>Redirecting...</title>
</head>
<body>
  <p>Redirecting to <a href="/forgot-password">forgot password</a>...</p>
</body>
</html>
